/****** GENERAL ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 0 3.125rem;
}

article {
  display: inherit;
}

li {
  list-style: none;
}

.fa-solid {
  color: var(--main-color);
}

/****** TYPOGRAPHY ***********/

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 26px;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1.375rem;
  width: 100%;
}

/****** BASIC CLASSES & MODIFIERS ***********/

.basic--button {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 0.8rem 1.1rem;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 0.625rem;
  background-color: white;
  min-width: 134px;
  max-width: 160px;
  cursor: pointer;
}

.display--more {
  border: transparent;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
}

.display--more:hover,
.display--more:focus {
  text-decoration: underline;
}

.basic--button:hover,
.basic--button:focus {
  background-color: var(--filter-bg-color);
}

.flex,
.flex--center,
.flex--column,
.flex--around,
.flex--between {
  display: flex;
}

.flex--center,
.flex--around,
.flex--between {
  align-items: center;
}

.flex--center {
  justify-content: center;
}

.flex--column {
  flex-direction: column;
}

.flex--around {
  justify-content: space-around;
}

.flex--between {
  justify-content: space-between;
}

.bg--gray {
  background-color: var(--main-bg-color);
}

.fa-star.star--full {
  color: var(--main-color);
}

.euro {
  font-weight: 700;
}

/* WIDE IMAGE BOOKING CARD MODIFIER */

.booking-card.wide--image > a {
  flex-direction: column;
  height: 200px;
}

.booking-card.wide--image .booking-card__image-container {
  border-radius: 1.25rem 1.25rem 0 0;
  flex: 2;
}

.booking-card.booking-card.wide--image .booking-card__info {
  flex: 1;
}

/****** HEADER ***********/

header {
  margin-bottom: 1.875rem;
  padding: 0 3.125rem;
  position: relative;
}

.header__logo {
  width: 60px;
  margin: 1.875rem 0;
}

.header__nav {
  align-self: flex-start;
}

.header__nav > ul {
  gap: 4.25rem;
}

.header__nav > ul > li {
  list-style: none;
  width: 50%;
  text-align: center;
  border-top: 2px var(--main-bg-color) solid;
  padding-top: 1rem;
  cursor: pointer;
}

.header__nav > ul > li:hover,
.header__nav > ul > li:active,
.header__nav > ul > li:focus {
  color: var(--main-color);
  border-top: 2px var(--main-color) solid;
}

/****** MAIN ***********/

/****** BOOKING SEARCH ***********/

.booking-search {
  margin-bottom: 2.18rem;
}

.booking-search > p {
  margin-bottom: 2.1rem;
}

/* SEARCH BAR */

.booking-search__search-bar {
  border: 1px var(--main-bg-color) solid;
  border-radius: 1rem;
  margin-bottom: 2rem;
  max-width: 377px;
}

.search--button {
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  background: var(--main-color);
  border: transparent;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

.search--button:hover,
.search--button:focus {
  color: var(--main-color);
  background-color: white;
}

.search--button:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.61);
}

.booking-search__search-bar > form > input {
  flex-grow: 1;
  width: 100%;
  font-size: 1.125rem;
  border: transparent;
  padding: 0.875rem 1.5rem;
  font-weight: 700;
}

.booking-search__search-bar input::placeholder {
  color: black;
  font-weight: 700;
}

.booking-search__search-bar .fa-location-dot {
  font-size: 1.125rem;
}

.booking-search__search-bar .fa-location-dot,
.booking-search__search-bar .fa-magnifying-glass {
  padding: 1rem;
}

.booking-search__search-bar .fa-location-dot {
  color: black;
  background-color: var(--main-bg-color);
  border-radius: 1rem 0 0 1rem;
}

.booking-search__search-bar .fa-magnifying-glass {
  color: white;
  background-color: var(--main-color);
  border-radius: 1rem;
  cursor: pointer;
}

.booking-search__search-bar .fa-magnifying-glass:hover,
.booking-search__search-bar .fa-magnifying-glass:focus {
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

/* SEARCH FILTERS */

.booking-search__filters {
  gap: 1rem;
  margin-bottom: 2.2rem;
}

.booking-search__filters .fa-solid {
  font-size: 1.375rem;
}

.booking-search__filters,
.booking-search__info {
  align-items: center;
}

/* SEARCH INFO */

.booking-search__info {
  gap: 0.625rem;
}

.booking-search__info .fa-info {
  font-size: 0.625rem;
  border: 1px solid #d9d9d9;
  padding: 0.4rem 0.625rem;
  border-radius: 50%;
}

/****** BOOKING HOUSING ***********/

.booking-housing {
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.booking-housing__popular,
.booking-housing__selection {
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  padding: 2rem 1.25rem;
  min-height: 610px;
}

.booking-housing__selection__list,
.booking-housing__popular__list {
  margin: 1.875rem 0;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.booking-housing__selection {
  flex: 3;
}

.booking-housing__popular {
  flex: 1.2;
  height: 610px;
}

.booking-housing__popular__title {
  width: 100%;
}

/* BOOKING CARD */

.booking-card {
  flex: 1;
  flex-basis: 250px;
}

.booking-card > a {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  padding: 0.3rem;
  height: 146px;
  transition: 1s;
  width: 100%;
}

.booking-card__image-container {
  overflow: hidden;
  flex: 1;
  border-radius: 20px 0px 0px 20px;
}

.booking-card img {
  transition: 1s;
}

.booking-card__info {
  padding: 0.625rem 0.9rem;
  flex: 2;
  gap: 0.5rem;
}

.booking-card__info > p {
  font-size: 0.875rem;
}

.booking-card__info__ratings {
  margin-top: auto;
}

.fa-star {
  color: var(--main-bg-color);
  font-size: 0.75rem;
}

.booking-card > a:hover img {
  transform: scale(1.1);
}

/****** BOOKING ACTIVITIES ***********/

.activities {
  padding: 1.875rem;
}

.activities__list {
  gap: 2rem;
  margin: 1.875rem 0;
}

.activity-card {
  flex: 1;
}

.activity-card > a {
  height: 440px;
  border-radius: 1.25rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.295);
  overflow: hidden;
}

.activity-card__image-container {
  flex: 3;
  overflow: hidden;
}

.activity-card img {
  transition: 1s;
}

.activity-card > a > h4 {
  padding: 1.25rem;
}

.activity-card > a:hover img {
  transform: scale(1.1);
}

/****** FOOTER ***********/

footer {
  background-color: var(--main-bg-color);
}

.footer__section {
  padding: 1.25rem;
  text-align: start;
  flex: 1;
}

.footer__section h5,
.footer__section li {
  margin-bottom: 1rem;
}

.footer__section h5 {
  font-size: 1.125rem;
}
